/**
 * pp-public.css
 */

/**
 * Spinner
 */
.pp-spinner {
  position: absolute;
}

/**
 * Click to copy.
 */
[data-click-to-copy] {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  /* background-color:  var(--pp-ctx-bg ); */
  /* border: 1px solid var(--pp-ctx-trim); */
  border: 1px solid black;
  border-radius: 0.25em;
  overflow: hidden;
  width: 100%;
}

[data-click-to-copy]::before,
[data-click-to-copy] > span:first-child {
  padding: 0.5em 1em;
  flex-grow: 1;
  text-align: center;
  padding: 0 1em;
}

[data-click-to-copy]::before {
  /* content:  '...'; */
  content: 'Click to Copy';
  display: block;
}

[data-click-to-copy] > span:first-child {
  display: none;
}

@media (min-width: 922px) {
  [data-click-to-copy]::before {
    display: none;
  }

  [data-click-to-copy] > span:first-child {
    display: block;
  }
}

[data-click-to-copy] > .dashicons {
  /* color: var(--pp-action-compl); */
  transition: 0.3s background-color;
  padding: 0.75em;
  box-sizing: content-box;
}

[data-click-to-copy]:hover .dashicons {
  /* background-color:  var( --pp-action); */
  /* color: var(--pp-action-compl); */
}

.pp-quick-popup-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff88;
}

.pp-quick-popup {
  background-color: black;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  white-space: nowrap;
}

.w-100 {
  width: 100%;
}
