/**
 * Mini GDPR
 */
.mini-gdpr-form label {
  display: inline-flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: flex-start;
}

.mini-gdpr-form input[type='checkbox'] {
  margin-top: 0.5em;
}
